body, html {
    height: 100%;
    margin: 0;
}
  
#background {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #00AAff;
    z-index: 0;
    transition: left 1s ease-in-out;
}

.container {
    position: relative;
    z-index: 1;
}

.usage, .raking-history, .odor-level, .btn {
    margin-bottom: 20px;
}

#odorLevel {
    font-size: 2rem;
}

#usageChart {
    display: block;
    width: 100%;
    max-width: 100%;
}

#rakeButton {
    position: relative;
    overflow: hidden;
    z-index: 2;
    background-color: rgb(255, 95, 5);
    color: rgb(255, 255, 255);
    margin: 0 auto;
    display: block;
}

#rakeButton span {
    position: relative;
    z-index: 3;
}

#rakeButton::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgb(19, 41, 75);
    z-index: 1;
    transition: left 0.75s ease-in-out;
}

#rakeButton.rake-effect::after {
    left: 0;
}

#rakeButton.rake-effect-back::after {
    left: -100%;
}
